body {
  font-family:'Courier New', Courier, monospace;
  margin: 0;
}
h1 {
  text-align: center;
  font-size: 50px;
}
nav{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: #EDECE6;
  padding: 10px;
}
section {
  display: flex;
}
div{
  margin: 10px;
  justify-content: left;
}
img{
  width: 40%;
  height: auto;
  border-radius: 5%;
}

.info {
  display: inline;
  justify-content: center;
  padding: 0px 5px 0px 5px;
}

.cat_block {
  width: 100%;
  max-width: 600px;
  justify-content: center;
  display: flex;
  margin: auto;
  padding: 10px;
  flex-wrap: wrap;
}

.cat_block div {
  padding: 5px 12px;
  min-width: 90px;

}

.meditationChunk {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  max-width: 3/4;
  justify-content: space-evenly;

}

.meditationContainer {
  display: flex;
  flex-direction: column;
  min-width: 400px;
  border: 1px grey;
  width: 5px;
  text-align: center;
}
aside {
  display: flex;
  background-color: #486E7E;
  max-width: 1/4;
  width: 100%;
  color: white;

}
.main {
  display: flex;

}
footer {
  background-color: #A2B833;
  text-align: center;
  font-size: 30px;
  padding: 10px;
}