body {
  /* margin: 0px 175px;
  padding: 0px 0px 20px 0px; */
  text-align: center;
  display: flex;
  justify-content:center;
  /* background-image: url(https://i.imgur.com/rloGjRf.jpg); */
}
nav{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
section {
  display: flex;
}
div{
  margin: 10px;
  justify-content: left;
}
img{
  width: 50%;
  height: auto;
}

.info {
  display: inline;
  justify-content: center;
}

.cat_block {
  width: 100%;
  max-width: 100px;
  justify-content: center;
  display: flex;
  margin: auto;
  padding: 10px;
}

.cat_block div {
  padding: 5px 12px;
  min-width: 90px;
}